<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opticas Franklin</title>
    <script src="https://kit.fontawesome.com/7f87e90d60.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../static/styles/navbar/navbar.css">
</head>
<body>
    <nav id="fullscreen-menu" class="navbar-hidden navbar ">
        <div class="nav-logo">
            <span class="fondo-img-logo">
                <img src="#" class="nav-img-logo">
            </span>
            <span class="nav-titulo">
                <h2 class="nav-titulo1">Opticas</h2>
                <h2 class="nav-titulo2">Franklin</h2>
            </span>
        </div>
        <ul class="nav-buttons">
            <li class="nav-btn btn-inventario nav-btn-active">
                <a href="{{ url_for('inventario') }}">
                <i class="fa-solid fa-box"></i>
                <span class="nav-btn-texto">Inventario</span></a></li>
            <li class="nav-btn btn-proveedores nav-btn-active">
                <a href="{{ url_for('proveedores') }}">
                <i class="fa-solid fa-truck"></i>
                <span class="nav-btn-texto ">Proveedores</span></a></li>
            <li class="nav-btn btn-ventanas nav-btn-active">
                <a href="{{ url_for('ventas') }}">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <span class="nav-btn-texto">Ventas</span></a></li>
            <li class="nav-btn btn-productos nav-btn-active">
                <a href="{{ url_for('productos') }}">
                <i class="fa-solid fa-truck"></i>
                <span class="nav-btn-texto ">Productos</span></a></li>
            <li class="nav-btn btn-remesas nav-btn-active">
                <a href="{{ url_for('remesa') }}">
                <i class="fa-solid fa-coins"></i>
                <span class="nav-btn-texto">Remesa</span></a></li>

        </ul>
        <button class="btn-cerrarSesion"><i class="fa-solid fa-right-from-bracket"></i></button>
        
    </nav>
</body>
</html>