<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Remesa</title>
</head>
<body>
    <h2>Ingresar Nueva Remesa</h2>

    

    <form method="POST">
        <label>Proveedor:</label>
        <input type="text" name="proveedor" required><br>

        <label>Código del Elemento:</label>
        <input type="text" name="codigo" required><br>

        <label>Modelo:</label>
        <input type="text" name="modelo" required><br>

        <label>Nombre:</label>
        <input type="text" name="nombre" required><br>

        <label>Número de Entradas:</label>
        <input type="number" name="num_entradas" required><br>

        <label>Factura:</label>
        <input type="text" name="factura" required><br>

        <label>Fecha:</label>
        <input type="date" name="fecha" required><br>

        <button type="submit">Guardar</button>
    </form>

    <br>
    
</body>
</html>
