<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/proveedores.css') }}">
</head>
<body>
    <!-- Barra de tareas en el lado izquierdo -->
    <div class="task-bar"></div>

    <main class="main-container">
        <h1 class="page-title">Tabla Proveedores</h1>

        <!-- Barra de búsqueda y botones dentro del main -->
        <div class="input-container">
            <input type="text" class="search-input" placeholder="Buscar...">
            <div class="button-container">
                <button class="square-button">Actualizar</button>
                <a href="{{ url_for('create.agregar_proveedor') }}">
                    <button>Crear</button>
                </a>
                <button class="square-button">Borrar</button>
                <button class="square-button">Adelante</button>
                <button class="square-button">Atras</button>
            </div>
        </div>

        <!-- Tabla -->
        <table class="table">
            <thead>
                <tr>
                    <th class="table-header">ID_PROIVEEDOR</th>
                    <th class="table-header">Nombre</th>
                    <th class="table-header">Correo</th>
                    <th class="table-header">Direccion</th>
                    <th class="table-header">Telefono</th>
                    <th class="table-header">Producto</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedores in datos %}
                    <tr>
                        <td>{{ proveedores.Id_Proveedor }}</td>
                        <td>{{ proveedores.Código_Prod }}</td>
                        <td>{{ proveedores.Nombre_Prov }}</td>
                        <td>{{ proveedores.Correo }}</td>
                        <td>{{ proveedores.Dirección }}</td>
                        <td>{{ proveedores.Teléfono }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <a href="{{ url_for('bienvenida') }}">Regresar</a>

</body>
</html>